[bumpversion]
current_version = 1.2.3
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:pyproject.toml]

[bumpversion:file:wildewidgets/__init__.py]

[bumpversion:file:docs/conf.py]

[bumpversion:file:demo/setup.py]

[bumpversion:file:demo/Makefile]

[bumpversion:file:demo/requirements.txt]
search = django-wildewidgets=={current_version}
replace = django-wildewidgets=={new_version}

[bumpversion:file:demo/demo/__init__.py]

