-e .
-r docs/requirements.txt
-r demo/requirements.txt

# Packaging
# ------------------------------------------------------------------------------
bumpversion==0.6.0                            # https://github.com/peritus/bumpversion
twine                                         # https://github.com/pypa/twine/
tox                                           # https://github.com/tox-dev/to
wheel                                         # https://github.com/pypa/wheel

# Development
# ------------------------------------------------------------------------------
autopep8                                      # https://github.com/hhatto/autopep8
flake8                                        # https://github.com/PyCQA/flake8
pycodestyle                                   # https://github.com/PyCQA/pycodestyle
mypy                                          # https://github.com/python/mypy
django-stubs

# Other utils
# ------------------------------------------------------------------------------
ipython>=7.18.0                                # https://github.com/ipython/ipython