ipython>=7.27.0                               # https://github.com/ipython/ipython
bumpversion==0.6.0                            # https://github.com/peritus/bumpversion
Sphinx==2.0.1                                 # https://github.com/sphinx-doc/sphinx
autopep8==1.6.0                               # https://github.com/hhatto/autopep8
flake8==4.0.1                                 # https://github.com/PyCQA/flake8
pycodestyle==2.8.0                            # https://github.com/PyCQA/pycodestyle
