Django==3.2.5
mkdocs==1.2.3
jinja2==3.0.0
django-wildewidgets==0.13.52
pycodestyle==2.8.0                            # https://github.com/PyCQA/pycodestyle
pydata-sphinx-theme==0.9.0                    # https://github.com/pydata/pydata-sphinx-theme
Sphinx==5.1.1                                 # https://github.com/sphinx-doc/sphinx
sphinxcontrib-images==0.9.4                   # https://github.com/sphinx-contrib/images