mkdocs==1.2.3
jinja2==3.0.0
pydata-sphinx-theme==0.9.0                    # https://github.com/pydata/pydata-sphinx-theme
Sphinx==5.2.3                                 # https://github.com/sphinx-doc/sphinx
sphinxcontrib-images==0.9.4                   # https://github.com/sphinx-contrib/images
sphinxcontrib-django2                         # https://github.com/timoludwig/sphinxcontrib-django2
