[mysqld]
character_set_server=utf8mb4
collation_server=utf8mb4_0900_ai_ci
# This tells mysql that our underlying volume is case-insensitive
lower_case_table_names=2

# If you connect to the database from our application, we get utf8mb4 connections. Set this
# so the same thing happens when using the mysql client from within the database container.
[client]
default-character-set=utf8mb4
